.clearfix
  .float-left= image_tag item.thumb_img
  .float-left
    %h4= item.title
    - item.orders.each do |order|
      %small.text-secondary= "#{order.id}_#{order.title}"
      %div= order.quantity
      %div= order.price
%hr
.clearfix
  .float-left Product Price
  .float-right= item.price
.clearfix
  .float-left Shipping fee
  .float-right= item.shipping_fee
%h4.clearfix.text-orange
  .float-left Total Price
  .float-right= item.price
