.bg-color-orange
  %div= "#{@customer.name}(#{@customer.username})"
  %div Hi!
  = link_to 'Manage My Information', edit_customer_registration_path, class: 'btn btn-transparent'
  = link_to 'My Reviews', reviews_path, class: 'btn btn-transparent'
