= simple_form_for @product, html: { multipart: true } do |f|
  = render 'errors', object: @product
  .panel-body
    = f.input :title
    = f.input :price
    = f.input :image

  = f.button :submit, class: 'btn btn-orange'
