= link_to '<', root_path, class: 'btn btn-default'

%h1= @product.title
%div= @product.price

-# if merchandiser
= link_to 'Edit', edit_product_path, class: 'btn btn-default'
= link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
