- provide(:header, 'back')

.product-basic-info
  %div= image_tag @product.image.url
  %h4= @product.title
  %div.clearfix
    .float-left
      %h2= "₩ #{@product.price}"
    .float-right
      %div= "#{@product.product_items.sum{ |item| item.buy_amount } } Buy"
%h4= "#{@product.shipping_fee.zero? ? 'Free Shipping' : "Delivery Fee: ₩ #{@product.shipping_fee}"}"

.d-flex
  #product-items-toggle.product-items-toggle.w-50.btn.btn-orange Product Items
  #reviews-toggle.reviews-toggle.w-50.btn Reviews

#reviews.reviews.d-none
  = "Reviews #{@reviews.size}"
  = render @reviews

#product-items.product-items.my-3
  - @product.product_items.each do |item|
    .product.mx-3.clearfix
      .float-left= image_tag item.image.url
      .float-right
        %div= item.title
        %div= item.price

  - if customer_signed_in?
    = render partial: 'purchases/new_purchase', locals: { product_items: @product.product_items }

  - if merchandiser_signed_in?
    = link_to 'Edit', edit_product_path, class: 'btn btn-default'
    = link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
