= link_to '<', root_path, class: 'btn btn-default'

%h1= @product.title
%div.clearfix
  .float-left
    = @product.price
  .float-right
    = @product.product_items.sum{ |item| item.buy_amount }
%div= "shipping info: #{@product.shipping_fee.zero? ? 'free shipping' : 'paid delivery'}"

%div Reviews


%div Product Info
%div= image_tag @product.image.url
%div= @product.category.name

- @product.product_items.each do |item|
  %div= item.title
  %div= item.price
  %div= image_tag item.image.url

- if customer_signed_in?
  = render partial: 'purchases/new_purchase', locals: { product_items: @product.product_items }

- if merchandiser_signed_in?
  = link_to 'Edit', edit_product_path, class: 'btn btn-default'
  = link_to 'Delete', product_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
